$main-col1: red;
$font-main: Helvetica;
$border: 4px solid black;


body {
    background-color: $main-col1;
    font: 40px $font-main;
    border: $border;
}
$font-main: Helvetica;

.navbarMain {
    position: relative;

    ul {
        list-style-type: decimal;
    }
    ol {
        list-style-type: none;
    }
    a {
        text-decoration: double;
    }
    a:hover {
        color: blueviolet;
        transform-origin: 150%;
        background-color: aqua;
        transform:translate(10px)
    }
}

.container{ width: 80%/40%;}

